.page{
    width : 780px;
    margin : auto;
    font-size : 16px;
    font-family: 'Source sans pro', Calibri, Tahoma, sans-serif;
}
.infophoto{
    height: 250px;
}
.info{
    float: left;
}
.photo{
    float: right;
}
strong{
    font-size: 26px;
}
.section{
    margin-bottom: 70px;
    text-align: justify;
}
h2{
    font-size: 28px;
    color: #3388BB;
    text-transform: uppercase;
    border-bottom: 3px solid #3388BB;
}
.sec-gauche{
    float: left;
    font-weight: bold;
    font-size: 20px;
}
.duree{
    font-weight: normal;
    font-size: italic;
    font-size: 16px;
}
.sec-droite{
    margin-left: 150px;
    margin-top: 37px;
}
.titre{
    font-weight: bold;
    font-size: 20px;
}
#format-gauche p{
    margin-bottom: 37px;
}